---
import { hero } from '../data/hero';
import SocialLinks from './SocialLinks.astro';
import CV from '../components/CvSelector.astro';
---

<section class="relative pt-24 pb-14 md:pt-32 md:pb-26">
  <div class="max-w-4xl">

    <!-- LOGO -->
    <div class="mb-6 flex items-center gap-3">
      <img
        src="/icons/logo-jm-light.svg"
        alt="JM logo"
        class="h-8 block dark:hidden"
      />

      <img
        src="/icons/logo-jm-dark.svg"
        alt="JM logo"
        class="h-8 hidden dark:block"
      />

      <span
       class="text-[20px] font-medium
              text-zinc-900 dark:text-white
              leading-none"
       style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;"
       >

        Javier Martín
      </span>
    </div>

    <!-- TÍTULO -->
    <h1 class="text-4xl md:text-5xl xl:text-6xl font-bold tracking-tight text-zinc-900 dark:text-white"
        data-es={hero.title.es}
        data-en={hero.title.en}>
        
        {hero.title.es}
    </h1>

    <!-- SUBTÍTULO -->
    <p class="mt-6 max-w-2xl text-lg md:text-xl text-zinc-600 dark:text-zinc-400 leading-relaxed"
       data-es={hero.subtitle.es}
       data-en={hero.subtitle.en}>
      
       {hero.subtitle.es}
    </p>

    <!-- ACCIONES -->
    <div class="mt-10 flex flex-wrap items-center gap-2">
    
      <!-- CV (acción principal) -->
      <CV />
    
      <!-- ICONOS -->
      <div class="flex items-center gap-2">
        <SocialLinks />
      </div>
    
    </div>

  </div>
</section>
